/***************************************************/

/* load custom fonts */
/* end of fonts */

/***************************************************/

/* header */
.nav-header{
    background-color:#FFA633;
    border-color:#FFA633;
    color:white;
}
.navbar-inverse .navbar-nav > li{
    color:white;
    text-decoration:none;
}
.navbar-inverse .navbar-nav > li:hover{
    text-decoration:underline;
}
.custom-jumbotron-container{
    padding:0px;
    background-color:#FFA633;
    color:white;
}
.custom-jumbotron-container > div{
    background-color:#FFA633;
    min-height:350px;
    margin-top:auto;
    margin-bottom:auto;
    padding-top:100px;
}
/* end of header */

/***************************************************/

/* common elements */
/* end of common elements */

/***************************************************/

/* footer */
/* end of footer */

/***************************************************/

/* index */
/* end of index */




